@import "_header";

body {
  font-size: 20px;
  div {
    font-style: 10px;
  }
}
h1 {
  color: green;
}
eCSStractor for VSCode
.bloc {

	&__ {
	}
}
.block {
	&__item {
	}
}

.bloc {
}
.block__item {
}
.bloc__ {
}
.red{
	color: red;
}